* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
body {
  font-family: "Inter", sans-serif;
  background-color: black;
  color: #fff;
}
h1 {
  font-family: "Prata", serif;
}
ul {
  list-style: none;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
html {
  scroll-behavior: smooth;
}
/* medium */
@media screen and (min-width: 768px) {
  .container {
    width: 720px;
  }
}
/* large */
@media screen and (min-width: 992px) {
  .container {
    width: 960px;
  }
}

/* Extra large */
@media screen and (min-width: 1200px) {
  .container {
    width: 1140px;
  }
}

/* Start header */
header {
  margin-top: 20px;
  padding-bottom: 60px;
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
}
header .container .logo {
  font-family: "Prata", serif;
  font-weight: 400;
  font-size: 16px;
  width: 38%;
}
header .container nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 62%;
}
header .container nav ul {
  display: flex;
  gap: 20px;
  text-transform: capitalize;
}
header .container nav ul li a {
  text-decoration: none;
  color: #9b9b9b;
}
header .container nav #desctop {
  font-family: "Prata", serif;
  text-decoration: none;
  background-color: #ffe600;
  color: black;
  padding: 10px 20px;
}
header nav img {
  display: none;
}
header nav ul #tablet-mobile {
  display: none;
  font-family: "Prata", serif;
  text-decoration: none;
  background-color: #ffe600;
  color: black;
  padding: 10px 20px;
}
@media screen and (max-width: 768px) {
  header .container {
    position: relative;
  }
  header nav {
    width: auto !important;
  }
  header nav img {
    display: block;
  }
  header nav ul,
  header nav a {
    display: none !important;
  }
  header nav img:hover + ul {
    display: flex !important;
    flex-direction: column;
    position: absolute;
    left: 49%;
    top: 90%;
    background-color: black;
    width: 50%;
    padding: 20px;
    border: 1px solid #fff;
  }
  header nav img:hover + ul li a {
    display: block !important;
  }
  header nav img:hover + ul #tablet-mobile {
    display: block !important;
    text-align: center;
  }
}
@media screen and (max-width: 425px) {
  header nav img:hover + ul {
    left: 44%;
    width: 55%;
    padding: 15px;
  }
}
@media screen and (max-width: 375px) {
  header nav img:hover + ul {
    left: 1%;
    width: 98%;
    padding: 15px;
    text-align: center;
  }
  header .container .logo {
    width: 50%;
  }
}
/* End header */
/* start helping section */
.helping {
  padding-bottom: 60px;
}
.helping .text {
  width: 590px;
}
.helping .text h1 {
  font-size: 3rem;
  font-weight: 400;
  margin-bottom: 10px;
}
.helping .text p {
  line-height: 1.5;
  color: #9b9b9b;
}
@media screen and (max-width: 768px) {
  .helping .text {
    width: 100%;
  }
}
@media screen and (max-width: 375px) {
  .helping .text h1 {
    font-size: 2rem;
  }
}
/* End helping section */
/* Start logos section */
.logos {
  padding-bottom: 60px;
}
.logos .container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 30px;
}
.logos .container img {
  max-width: 100%;
}
@media screen and (max-width: 768px) {
  .logos .container {
    justify-content: space-around;
  }
}
/* End logos section */
/* Start sites section */
.sites {
  padding-bottom: 60px;
}
.sites .container {
  display: flex;
  gap: 70px;
}
.sites .site {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.sites .site img {
  margin-bottom: 15px;
  max-width: 100%;
}
.sites .site a {
  font-family: "Prata", serif;
  text-decoration: none;
  color: inherit;
  font-size: 1.7rem;
}
.sites .site p {
  color: #9b9b9b;
  line-height: 1.5;
  margin-top: 8px;
}
@media screen and (max-width: 768px) {
  .sites .container {
    flex-direction: column;
  }
}

/* End sites section */
/* Start info section */
.info {
  padding: 60px 0;
  background-color: #2E3038;
}
.info .container {
  display: flex;
  gap: 70px;
}
.info .text {
  width: 100%;
}
.info .text h1 {
  font-size: 2.1rem;
  font-weight: 400;
  margin-bottom: 10px;
}
.info .text p {
  color: #9b9b9b;
  margin-bottom: 20px;
  text-transform: capitalize;
}
.info .text q {
  color: #9b9b9b;
}
.info .text q span {
  color: #bdbbbb;
}
@media screen and (max-width: 768px) {
  .info .container {
    flex-direction: column;
  }
}
@media screen and (max-width: 375px) {
  .info .text h1 {
    font-size: 2rem;
  }
}
/* End info section */
/* Start working section */
.working {
  padding: 60px 0;
}

.working .text {
  max-width: 460px;
}
.working .text h1 {
  font-weight: 400;
  margin-bottom: 10px;
}
.working .text p {
  margin-bottom: 30px;
  color:#9b9b9b;
}
.working .text a {
  font-family: "Prata", serif;
  text-decoration: none;
  background-color: #ffe600;
  color: black;
  padding: 12px 30px;
}
/* End working section */
/* Start footer */
footer {
  background-color: #2E3038;
  padding: 20px 0;
}
footer .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer .logo {
  font-family: "Prata", serif;
}
footer .social-media ul {
  display: flex;
  gap: 15px;
}

/* End footer */
